# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
EP2-Bot
EP2-Bot.exe
main
main.exe

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# A secret file
start.sh

# IDE files
.idea

# Data files
data
users.json